.header-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  p {
    opacity: 0.7;
    cursor: pointer;
  }

  p:hover {
    opacity: 0.9;
  }
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  row-gap: 50px;
}

.item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-img {
  width: 100px;
}

.deskr-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.description {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  span {
    font-weight: 400;
    font-size: 16px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  p {
    font-size: 22px;
    font-weight: 700;
  }
}

.price {
  font-size: 22px;
  font-weight: 900;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.count {
  font-size: 22px;

  span {
    font-weight: 900;
  }
}

.count-sum {
  font-size: 22px;

  span {
    font-weight: 700;
    color: var(--secondary-color);
  }
}

.btn-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.link-back {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 20px;

  &:hover {
    background-color: black;
    color: var(--white);
    border-color: transparent;
  }
}

.link-buy {
  background-color: var(--secondary-color);
  color: var(--white);
  border-radius: 10px;
  padding: 10px 20px;

  &:hover {
    background-color: var(--secondary-hover-color);
    color: var(--white);
    border-color: transparent;
  }
}