.btn {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.filter-btn {
  background-color: var(--filter-btn-color);
  color: var(--text-color);
}

.filter-btn:hover {
  background-color: var(--filter-btn-hover);
  color: var(--white);
}

.btn span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: inherit;
}