.btn {
  padding: 5px 15px;
  border-radius: 10px;
  transition: background-color 0.5s ease;
}

.filter-btn {
  background-color: var(--filter-btn-color);
  color: var(--text-color);
}

.filter-btn:hover {
  background-color: var(--filter-btn-hover);
  color: var(--white);
}

.filter-active {
  background-color: var(--filter-btn-hover);
  color: var(--white);
}

.add-btn {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.add-btn:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}

.add-span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: inherit;
}

.add-count {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: var(--white);
  width: 25px;
  height: 25px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  line-height: 25px;
}

.carts-btn {
  width: 40px;
  height: 40px;
  padding: 0px;
  color: var(--secondary-color);
  font-size: 27px;
  font-weight: 900;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
}

.carts-btn:active {
  border-color: var(--secondary-hover-color);
}